<%= form_for(@seguro) do |f| %>
<div class="form-group">
  <p>Preencha os campos abaixo com o total por tipo de seguro:</p>
  <%= f.label :tipo %>
  <p>Tipo:</p><%= f.select :tipo, options_for_select(["Vida", "Saúde", "Automóveis", "Saúde", "Transporte", "Facultativo", "Outros"]), prompt: 'Selecione uma opção' %>
</div>

<div class="form-group">
  <%= f.label :valor %>
  <p>Valor:</p><%= f.text_field :valor, class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label :data_final %>
  <p>Data Final:</p><%= f.text_field :data_final, class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label :periodicidade %>
  <p>Periodicidade:</p><%= f.select :tipo, options_for_select(["Anual", "Mensal", "Quinzenal","Outros"]), prompt: 'Selecione uma opção' %>
</div>
<%= f.submit class: 'btn btn-primary' %>
<% end %>


