
<div class="banner-green">
  <%= render 'shared/navbar' %>
  <div class="header-description">
    <p class="header-title">Convexity: Inteligência em Seguros</p>
    <p class="page-description"> Descubra agora uma maneira criativa e inovadora de criar uma nova receita para sua empresa. Exponha-se a convexidade: nada a perder, muito a ganhar. </p>
  </div>
  <div class="logo-banner" style="background-image: url(<%= image_path('logo-ceziam.png') %>);">
  </div>
  <div class="white-vector" style="background-image: url(<%= image_path('white-vector.png') %>)";>
  </div>
</div>

<div class="card-container" id="card-1">
  <div class="card-wrapper">
    <div class="card">
      <div class="card-description" style="color: black;">
        <p></p>
        <p id="card-description-paragraph" style="color: black;">Informe os gastos atuais da sua empresa com seguros e receba uma proposta.</p>
      </div>
      <div class="card-1-image" style="background-image: url(<%= image_path('fluxo.png') %>);">
      </div>
    </div>
  </div>
  <div class="text-description">
    <p>Como funciona:</p>
    <p id="description-paragraph">Usamos sofisticados algoritmos para calcular o valor da gestão da sua carteira de seguros. Para tanto basta que você preencha a tabela abaixo e o sistema lhe retornará uma proposta imediatamente.</p>
  </div>
  <div class="orange-vector" style="background-image: url(<%= image_path('vector-orange.png') %>);">
  </div>
</div>

<div class="card-container alternate" id="card-2">
  <div class="text-description white">
    <p>Preencha os campos ao lado</p>
    <p class="white" id="description-paragraph">De uma forma simples e segura, você coloca ao lado os seus custos por tipo de seguro e após confirmar os dados lhe enviaremos uma proposta para termos a preferência na gestão da sua carteira.</p>
  </div>
  <div class="card-wrapper">
    <div class="card-white">
      <%= render 'form' %>
    </div>  
  </div>
  <div class="white-vector" style="background-image: url(<%= image_path('white-vector.png') %>)";>
  </div>
</div>


<div class="card-container" id="card-1">
  <div class="card-wrapper">
    <div class="card-3-image" style="background-image: url(<%= image_path('cadeado.png') %>);">
    </div>
  </div>
  <div class="text-description">
    <p>Sobre o modelo:</p>
    <p id="description-paragraph">Esta abordagem inovadora no ramo de corretagem de seguros surgiu quando um de nossos sócios recebeu uma proposta para vender sua empresa. Nesta ocasião ele pode entender como o mercado precifica uma carteira de seguros e estamos fazendo o mesmo em relação a sua carteira. Para a gestão da carteira os serviços serão prestados pela competente Franqueira Seguros, que vem se destacando por sua operação e qualidade dos serviços prestados.</p>
  </div>
  <div class="orange-vector" style="background-image: url(<%= image_path('vector-orange.png') %>);">
  </div>
</div>

<div class="card-container alternate" id="card-2">
  <div class="text-description white">
    <p>Premiações</p>
    <p id="description-paragraph">Você pode confiar numa empresa premiada nacionalmente pela qualidade e agilidade no atendimento, veja algumas premiações que recebemos recentemente</p>
    <ul id="description-paragraph">
      <li>Vencedor da Campanha PRA da Sul América em 2014, 2015 e 2016;</li>
      <li>Vencedor da Campanha Grandes Prêmios dos Corretores da Allianz em 2010, 2011 e 2012;</li>
      <li>Vencedor da Campanha Voe com a Zurich em 2015;</li>
      <li>Vencedor da Campanha Conexão Liberty em 2013, 2014, 2015 e 2016;</li>
      <li>Membro do conselho de corretores da Liberty Seguros;</li>
      <li>Membro do programa Passos do Itaú em 2007;</li>
      <li>Signatário do código de ética da FENACOR;</li>
    </ul>
  </div>
  <div class="card-wrapper">
    <div class="card-3-image" style="background-image: url(<%= image_path('franqueira.png') %>);">
    </div> 
  </div>
  <div class="white-vector" style="background-image: url(<%= image_path('white-vector.png') %>)";>
  </div>
</div>


<div class="card-container" id="card-1">
  <div class="card-wrapper">
    <div class="card-3-image" style="background-image: url(<%= image_path('cadeado.png') %>);">
    </div>
  </div>
  <div class="text-description">
    <p>Clientes:</p>
    <p id="description-paragraph">Esta abordagem inovadora no ramo de corretagem de seguros surgiu quando um de nossos sócios recebeu uma proposta para vender sua empresa. Nesta ocasião ele pode entender como o mercado precifica uma carteira de seguros e estamos fazendo o mesmo em relação a sua carteira. Para a gestão da carteira os serviços serão prestados pela competente Franqueira Seguros, que vem se destacando por sua operação e qualidade dos serviços prestados.</p>
  </div>
  <div class="orange-vector" style="background-image: url(<%= image_path('purple-vector.png') %>);">
  </div>
</div>





















<%= render 'shared/footer' %>
<script>
  const form = document.querySelector('#search');
  const gif = document.querySelector("#loading-symbol");
  form.addEventListener('submit', function(event) {
      gif.hidden = false;
  });
</script>

