<div class="container">
  <div class="row">
    <h3 class="title-booking">
      Aqui está a sua lista de seguros cadastrados:</h3>
  </div>

  <div class="row">
    <div class="banner-content">
      <div class="left-main">
        <% @seguros.each do |seguro| %>
        <div class="col-xs-6 col-sm-6 padding-0">
          <div class="card-booking" style="background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5));">
            <div class="linker">
            <a class="card-link" href="<%= seguro_path(seguro) %>"></a>
              <div class="card-descr">
                <h3><%= link_to seguro.tipo %></h3>
                <p> <%= seguro.data_final %> </p>
                <p> <%= seguro.periodicidade %></p>
                <p> Custo total: R$<%= seguro.valor %></p>
                <% if seguro.foto != nil %>
                  <p> Parabéns, você anexou a apólice para este seguro</p>
                <% else %>
                  <p> Anexar a apólice inerente a cada seguro proporcionará maior agilidade ao processo. Faça <%= link_to "agora" edit_seguro_path(seguro) %> mesmo.</p>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
